<aside
    class="bg-gray-800 z-10 text-white w-64 space-y-6 py-7 px-2 fixed top-0 left-0 h-full transition-transform duration-300 ease-in-out transform -translate-x-full md:translate-x-0"
    id="sidebar">
    <div class="flex items-center justify-between px-4">
        <span class="text-xl font-semibold">Medzsites-Back</span>
        <div class="close-sidebar" id="close-sidebar">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <nav>
        <a href="/admin" class="block py-2 px-4 sidebar-link hover:bg-gray-700" id="dashboard-link">
            <i class="fas fa-tachometer-alt mr-2"></i>Dashboard
        </a>
        <a href="/admin/offer-plans" class="block py-2 px-4 sidebar-link hover:bg-gray-600">
            <i class="fas fa-list-ul mr-2"></i>OfferPlans
        </a>
        <a href="/admin/category" class="block py-2 px-4 sidebar-link hover:bg-gray-600">
            <i class="fas fa-window-maximize mr-2"></i>Category
        </a>
        <a href="/admin/sub-category" class="block py-2 px-4 sidebar-link hover:bg-gray-600">
            <i class="fas fa-window-restore mr-2"></i>Sub Category
        </a>
        <a href="/admin/products" class="block py-2 px-4 sidebar-link hover:bg-gray-600">
            <i class="fas fa-gift mr-2"></i>Products
        </a>
        <a href="/admin/users" class="block py-2 px-4 sidebar-link hover:bg-gray-600">
            <i class="fas fa-user mr-2"></i>Users
        </a>
        <a href="/admin/carts" class="block py-2 px-4 sidebar-link hover:bg-gray-600">
            <i class="fas fa-cart-shopping mr-2"></i>Carts
        </a>
        <a href="/admin/orders" class="block py-2 px-4 sidebar-link hover:bg-gray-600">
            <i class="fa-brands fa-jedi-order mr-2"></i>Orders
        </a>
        <a href="/admin/blogs" class="block py-2 px-4 sidebar-link hover:bg-gray-600">
            <i class="fas fa-blog mr-2"></i>Blogs
        </a>
        <a href="/admin/setting" class="block py-2 px-4 sidebar-link hover:bg-gray-600">
            <i class="fas fa-gear mr-2"></i>Setting
        </a>
        <a href="/admin/promo-codes" class="block py-2 px-4 sidebar-link hover:bg-gray-600">
            <i class="fas fa-gift mr-2"></i>PromoCodes
        </a>
        <a href="/admin/offers" class="block py-2 px-4 sidebar-link hover:bg-gray-600">
            <i class="fas fa-envelope mr-2"></i>Offers Emails
        </a>
        <a href="/admin/contact-us" class="block py-2 px-4 sidebar-link hover:bg-gray-600">
            <i class="fa fa-address-book mr-2"></i>Contact Us
        </a>
        <a href="/admin/doctors" class="block py-2 px-4 sidebar-link hover:bg-gray-600">
            <i class="fas fa-user-md mr-2"></i>Doctors
        </a>
    </nav>

    <div class="flex items-center justify-center mt-auto">
        <a href="/admin/logout" class="block py-2 px-4 w-full sidebar-link logout hover:bg-gray-700" id="logout-link">
            <i class="fas fa-sign-out-alt mr-2"></i>Logout
        </a>
    </div>
</aside>